<div class="section">
  <div class="container is-max-widescreen has-text-centered  p-4 mt-6">
    <p [@textAnimation]="animationState" class="title my-auto has-text-primary is-size-1  ">
      Xpenser
    </p>
    <p [@textAnimation]="animationState" class="title is-size-2 mt-4 ">
      Manage and Analyze your Spends
    </p>
    <p class="title is-size-4 mt-2 ">
      Get started by signing up
    </p>
    <button (click)="signUp()" class=" button is-link is-large mt-4">Sign Up</button>

  </div>
</div>