<div class="section">
  <div [@textAnimation]="animationState" class="container is-max-widescreen has-text-centered  p-4 mt-6">
    <img class="is-32x32" src="../../../assets/logo.png" alt="" srcset="">
    <p class="title my-auto has-text-primary is-size-1  ">
      Xpenser
    </p>
    <p class="title is-size-2 mt-4 ">
      AI Expense Manager<br>

    </p>
    <p class="title is-size-4 mt-2 ">
      Manage and Analyze your Spends <br>Get started by signing up or logging in
    </p>
    <div class="row">
      <button (click)="signUp()" class=" button is-link is-large mt-4 mr-2">Sign Up</button>
      <button (click)="signIn()" class=" button is-primary is-large mt-4 ml-2">Sign In</button>
    </div>

  </div>
</div>