<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a (click)="goToHome()" class="navbar-item has-text-weight-bold has-text-white">
      Xpenser
    </a>

  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a (click)="goToHome()" *ngIf="authService.isLoggedIn" class="navbar-item">
        Home
      </a>

    </div>
  </div>
  <div class="navbar-end navbar-menu">
    <app-avatar class="" *ngIf="authService.isLoggedIn" [name]="authService.loggedInUser?.name"></app-avatar>
    <a *ngIf="authService.isLoggedIn" class="navbar-item ">
      {{authService.loggedInUser?.name}}
    </a>
  </div>
  <div class="navbar-end">
    <div *ngIf="authService.isLoggedIn" class="navbar-item">
      <div class="buttons">
        <a (click)="logout()" class="button is-danger">
          <strong>Sign out</strong>
        </a>
      </div>
    </div>
  </div>
</nav>