<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold has-text-white">
      Xpenser
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Expenses
      </a>

    </div>
  </div>
  <div class="navbar-end">
    <a *ngIf="authService.isLoggedIn" class="navbar-item">
      {{authService.loggedInUser?.name}}
    </a>
    <div *ngIf="authService.isLoggedIn" class="navbar-item">
      <div class="buttons">
        <a (click)="authService.logout()" class="button is-danger">
          <strong>Sign out</strong>
        </a>
      </div>
    </div>
  </div>
</nav>