.select {
  width: 100%;
}

select {
  width: 100%;
  padding-left: 40px;
}

// option {
//   display: flex;
//   align-items: center;
// }

// option img {
//   margin-right: 10px;
// }

.otp-container {

  .otp-input {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
}